{% extends 'base/base.html' %}
{% block title %}
  Ecommerce
{% endblock %}

{% block content %}
  <div class="row">
    {% for product in products %}
      <div class="col-lg-3 col-md-4 mb-4">
        <div class="card h-100">
          <a href="{% url 'ecommerce:detail' product.slug %}">
            <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              {{product.name}}
            </h4>
            <h5>
              ${{product.price|floatformat:"1"}}
            </h5>
            <p class="card-text">{{product.mark}}</p>
          </div>
          <div class="card-footer text-center">
            <small>
              <a class="btn btn-success" href="{% url 'ecommerce:cart' product.slug %}">Adiccionar</a>
            </small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}